.container
{
  width: 100vw;
  height: 100vh;
  margin: 0px;
}
.sideBarContainer
{
  width: 15%;
}
.displayArea{
  width: 85%;
  
}
::ng-deep .p-tree.p-component.p-tree-selectable{
  height: 100vh;
}

